* , 
*::before , 
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flabel{
    display: block;
    margin: 0 auto;
    width: 100%;
}
.fcontrol{
    display: block;
    margin: 0 auto;
    width: 100%;
}